
<html>
<body>

<h2>Calories Intake & Burn</h2>

<p>The Calorie Calculator can be used to estimate the number of calories a person needs to consume each day. This calculator can also provide some simple guidelines for gaining or losing weight.<iframe height="870px" width="500px" src="https://www.freedieting.com/calorie-calculator" name="iframe_a"></iframe></p>

<p><a href="https://www.freedieting.com/calorie-calculator" target="iframe_a">Recheck Calculate Calories to be taken/burnt </a></p>

<p>Know, Asses and Plan according to your height weight and body stats. </p>

</body>
</html>
