<div class="col">
  <div class="col">
      <h4 class="p-5">Create your profile to start using the app</h4>
  </div>
</div>
<div class="row justify-content-center">
<div class="col-md-6">

<div class="card" >
  <div class="card-header">Profile Details</div>
  <div class="card-body">
      <div class="row">
          <div class="col">
              <input #Name placeholder="Name" />
              <br>
              <br>
              <input #Age placeholder="Age" />
              <br>
              <br>
              <input #Height placeholder="Height" />
              <br>
              <br>
              <input #Weight placeholder="Weight" />
              <br>
              <br>
              <input #Goal weight placeholder="Goal weight" />
               <br>    
               <br>                
              <button (click)="profile(Name.value, Age.value, Height.value, Weight.value, Goalweight.value)" >Create Yours</button>
          </div>
      </div>
  </div>
  </div>
</div>

