<h3>
  Here is a quick breakdown on workouts 
</h3>
  <p>
Quads – squats, lunges, one legged squats, box jumps.
<br>
Butt and Hamstrings – hip raises, deadlifts, straight leg deadlifts, good mornings, step ups.
<br>
Push (chest, shoulders, and triceps) – overhead press, bench press, incline dumbbell press, push ups, dips.
<br>
Pull (back, biceps, and forearms) – chin ups, pull ups, bodyweight rows, dumbbell rows.
<br>
Core (abs and lower back) – planks, side planks, exercise ball crunches, mountain climbers, jumping knee tucks, hanging leg raises.
<br>
Pick one exercise from each category above for a workout, and you’ll work almost every single muscle in your body.
</p>
<img class="card-img-top" style="width:700px;height:580px" src="https://cdn2.omidoo.com/sites/default/files/imagecache/full_width/images/bydate/20131121/calories.jpg" alt="Card image cap">
