<div class="col">
  <div class="col">
          <div style="width:100%;height:50%" class="card" >
                  <img class="card-img-top" style="width:500px;height:280px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0WqpH3faZdBndYekS0S-eSwOM9tYUgLorvKKWorzNeJApP0K8" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Calories & Nutrition</h5>
                    <p class="card-text">Get to know your intake calories and plan your diet accordingly.</p>
                    <a href="/nutrition" class="btn btn-primary">Calories</a>
                  </div>
                </div>
  </div>
  <div class="col">
          <div style="width:100%;height:50%" class="card" >
                  <img class="card-img-top" style="width:500px;height:280px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXjsfXPweit2wBUV7uQH-Hu3DYHRyuITik0qJRmNZCNtYiTvD1nw" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Workouts & programs</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/workout" class="btn btn-primary">Plan and workout</a>
                  </div>
                </div>
  </div>
  <div class="col">
          <div style="width:100%;height:50%" class="card" >
                  <img class="card-img-top" style="width:500px;height:280px" src="https://farm9.staticflickr.com/8432/7542642880_4e9f2476fb.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Motivation</h5>
                    <p class="card-text">Motivation for yourself.</p>
                    <a href="/motivation" class="btn btn-primary">Get some of it</a>
                  </div>
                </div>
  </div>
</div>